In [1]:
import pandas as pd

In [2]:
# reads data in tabular format
url = "https://bit.ly/chiporders"

# read table reads tab separated values, the data needs to have a header column
orders = pd.read_table(url)
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [3]:
#read data
url1 = 'https://bit.ly/uforeports'
ufo = pd.read_table(url1, sep=',')

ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
#selecting a column
ufo['City']
# also works
ufo.City
# NOTE: column name is case sensitive "ufo.city" will give error

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [5]:
#create a new column called location which concatenates city and state

ufo['Location'] = ufo['City'] + ', ' + ufo['State']

In [6]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [7]:
ufo.describe()

,City,Colors Reported,Shape Reported,State,Time,Location
count,18216,2882,15597,18241,18241,18216
unique,6476,27,27,52,16145,8029
top,Seattle,RED,LIGHT,CA,11/16/1999 19:00,"Seattle, WA"
freq,187,780,2803,2529,27,187

In [8]:
#this show descriptive analysis of numerical columns
orders.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [9]:
#Finding the dimension data frame
orders.shape

(4622, 5)

In [10]:
#find out types of each columns
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [11]:
type(orders)

pandas.core.frame.DataFrame

In [12]:
#drop columns

drop_columns = ['City', 'State']
new_view = ufo.drop(drop_columns, axis=1)
new_view.head()

  Colors Reported Shape Reported             Time                  Location
0             NaN       TRIANGLE   6/1/1930 22:00                Ithaca, NY
1             NaN          OTHER  6/30/1930 20:00           Willingboro, NJ
2             NaN           OVAL  2/15/1931 14:00               Holyoke, CO
3             NaN           DISK   6/1/1931 13:00               Abilene, KS
4             NaN          LIGHT  4/18/1933 19:00  New York Worlds Fair, NY

In [13]:
# similarly row can be dropped
row_number = [0, 1]
another_view = new_view.drop(row_number, axis=0)
another_view.head()

  Colors Reported Shape Reported             Time                  Location
2             NaN           OVAL  2/15/1931 14:00               Holyoke, CO
3             NaN           DISK   6/1/1931 13:00               Abilene, KS
4             NaN          LIGHT  4/18/1933 19:00  New York Worlds Fair, NY
5             NaN           DISK  9/15/1934 15:30           Valley City, ND
6             NaN         CIRCLE   6/15/1935 0:00           Crater Lake, CA

In [14]:
movies_url = 'http://bit.ly/imdbratings'

movies = pd.read_table(movies_url,sep=',')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [15]:
movies.title.sort_values(ascending=False)

864                                  [Rec]
526                                   Zulu
615                             Zombieland
677                                 Zodiac
955                       Zero Dark Thirty
535                                  Zelig
280                     Young Frankenstein
96                                 Yojimbo
235                                Yip Man
403                             Ying xiong
695                      Y Tu Mama Tambien
871                                     X2
532                     X-Men: First Class
248             X-Men: Days of Future Past
954                                  X-Men
518                         Wreck-It Ralph
970                            Wonder Boys
65             Witness for the Prosecution
920                                Witness
483                           Withnail & I
270                        Wings of Desire
497    Willy Wonka & the Chocolate Factory
127                      Wild Strawberries
219        Who's Afraid of Virginia Woolf?
669                Who Framed Roger Rabbit
33                                Whiplash
649                      Where Eagles Dare
719                When Harry Met Sally...
562            What's Eating Gilbert Grape
207       What Ever Happened to Baby Jane?
                      ...
426                              A Prophet
865                        A Perfect World
869              A Nightmare on Elm Street
883                  A History of Violence
612                     A Hard Day's Night
276                   A Fistful of Dollars
750                    A Fish Called Wanda
716                         A Few Good Men
86                      A Clockwork Orange
266                      A Christmas Story
571                           A Bronx Tale
941                       A Bridge Too Far
170                       A Beautiful Mind
203                                  8 1/2
597                                  50/50
824                                     42
427           4 Months, 3 Weeks and 2 Days
555                           3:10 to Yuma
570                                    300
225                                 3-Iron
60                                3 Idiots
708                       28 Days Later...
624                              25th Hour
596                               21 Grams
910                                   2046
110                  2001: A Space Odyssey
698                              127 Hours
201                       12 Years a Slave
5                             12 Angry Men
542                   (500) Days of Summer
Name: title, Length: 979, dtype: object

In [16]:
columns = ['content_rating', 'duration']

movies.sort_values(columns, ascending=True, inplace=True)

movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
713,7.6,The Jungle Book,APPROVED,Animation,78,"[u'Phil Harris', u'Sebastian Cabot', u'Louis P..."
513,7.8,Invasion of the Body Snatchers,APPROVED,Horror,80,"[u'Kevin McCarthy', u'Dana Wynter', u'Larry Ga..."
272,8.1,The Killing,APPROVED,Crime,85,"[u'Sterling Hayden', u'Coleen Gray', u'Vince E..."
703,7.6,Dracula,APPROVED,Horror,85,"[u'Bela Lugosi', u'Helen Chandler', u'David Ma..."
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"[u'John Lennon', u'Paul McCartney', u'George H..."

In [17]:
movies.shape

(979, 6)

In [18]:
# create a list of movies that has same row with 
booleans = []
for length in movies.duration:
    if length > 200:
        booleans.append(True)
    else:
        booleans.append(False)

len(booleans)

979

In [19]:
# same thing can be done with
is_long = movies.duration > 200
len(is_long)

979

In [20]:
type(is_long)

pandas.core.series.Series

In [21]:
movies[is_long].sort_values('duration',ascending=False)

,star_rating,title,content_rating,genre,duration,actors_list
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."

In [22]:
# Additional --  we want to study the duration and only the genre of the movie 
movies[movies.duration >= 200].genre
# this is date frame we can use . and bracket

767       Action
445    Adventure
204    Adventure
157        Drama
85     Adventure
142    Adventure
7      Adventure
630    Biography
476        Drama
2          Crime
78         Crime
17         Drama
Name: genre, dtype: object

In [23]:
#best practive is to use loc function 
movies.loc[movies.duration >= 200].genre

767       Action
445    Adventure
204    Adventure
157        Drama
85     Adventure
142    Adventure
7      Adventure
630    Biography
476        Drama
2          Crime
78         Crime
17         Drama
Name: genre, dtype: object

In [24]:
#multiple factor refactoring
movies[(movies.duration >= 200) & (movies.genre == 'Drama')]

,star_rating,title,content_rating,genre,duration,actors_list
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."

In [25]:
#slow method to fetch data with OR
movies[(movies.genre == 'Crime') | (movies.genre == 'Drama') |( movies.genre == 'Action') ]

,star_rating,title,content_rating,genre,duration,actors_list
272,8.1,The Killing,APPROVED,Crime,85,"[u'Sterling Hayden', u'Coleen Gray', u'Vince E..."
58,8.5,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe M..."
233,8.1,The Night of the Hunter,APPROVED,Crime,92,"[u'Robert Mitchum', u'Shelley Winters', u'Lill..."
229,8.1,Strangers on a Train,APPROVED,Crime,101,"[u'Farley Granger', u'Robert Walker', u'Ruth R..."
237,8.1,Notorious,APPROVED,Drama,101,"[u'Cary Grant', u'Ingrid Bergman', u'Claude Ra..."
521,7.8,Belle de Jour,APPROVED,Drama,101,"[u'Catherine Deneuve', u'Jean Sorel', u'Michel..."
575,7.8,Kramer vs. Kramer,APPROVED,Drama,105,"[u'Dustin Hoffman', u'Meryl Streep', u'Jane Al..."
230,8.1,Cat on a Hot Tin Roof,APPROVED,Drama,108,"[u'Elizabeth Taylor', u'Paul Newman', u'Burl I..."
329,8.0,In the Heat of the Night,APPROVED,Crime,109,"[u'Sidney Poitier', u'Rod Steiger', u'Warren O..."
563,7.8,Goldfinger,APPROVED,Action,110,"[u'Sean Connery', u'Gert Fr\xf6be', u'Honor Bl..."
253,8.1,The Big Sleep,APPROVED,Crime,114,"[u'Humphrey Bogart', u'Lauren Bacall', u'John ..."
896,7.5,From Russia with Love,APPROVED,Action,115,"[u'Sean Connery', u'Robert Shaw', u'Lotte Lenya']"
65,8.4,Witness for the Prosecution,APPROVED,Crime,116,"[u'Tyrone Power', u'Marlene Dietrich', u'Charl..."
618,7.7,Shane,APPROVED,Drama,118,"[u'Alan Ladd', u'Jean Arthur', u'Van Heflin']"
74,8.4,Citizen Kane,APPROVED,Drama,119,"[u'Orson Welles', u'Joseph Cotten', u'Dorothy ..."
251,8.1,The Man Who Shot Liberty Valance,APPROVED,Drama,123,"[u'James Stewart', u'John Wayne', u'Vera Miles']"
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
207,8.1,What Ever Happened to Baby Jane?,APPROVED,Drama,134,"[u'Bette Davis', u'Joan Crawford', u'Victor Bu..."
95,8.4,All About Eve,APPROVED,Drama,138,"[u'Bette Davis', u'Anne Baxter', u'George Sand..."
444,7.9,My Fair Lady,APPROVED,Drama,170,"[u'Audrey Hepburn', u'Rex Harrison', u'Stanley..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."
168,8.2,Hachi: A Dog's Tale,G,Drama,93,"[u'Richard Gere', u'Joan Allen', u'Cary-Hiroyu..."
534,7.8,The Longest Day,G,Action,178,"[u'John Wayne', u'Robert Ryan', u'Richard Burt..."
361,8.0,Fiddler on the Roof,G,Drama,181,"[u'Topol', u'Norma Crane', u'Leonard Frey']"
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
691,7.7,Kelly's Heroes,GP,Action,144,"[u'Clint Eastwood', u'Telly Savalas', u'Don Ri..."
604,7.7,Mysterious Skin,NC-17,Drama,105,"[u'Brady Corbet', u'Joseph Gordon-Levitt', u'E..."
915,7.5,Bad Education,NC-17,Crime,106,"[u'Gael Garc\xeda Bernal', u'Fele Mart\xednez'..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
755,7.6,"Lust, Caution",NC-17,Drama,157,"[u'Tony Chiu Wai Leung', u'Wei Tang', u'Joan C..."
...,...,...,...,...,...,...
671,7.7,Grindhouse,R,Action,191,"[u'Kurt Russell', u'Rose McGowan', u'Danny Tre..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
219,8.1,Who's Afraid of Virginia Woolf?,TV-MA,Drama,131,"[u'Elizabeth Taylor', u'Richard Burton', u'Geo..."
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
98,8.4,Rashomon,UNRATED,Crime,88,"[u'Toshir\xf4 Mifune', u'Machiko Ky\xf4', u'Ma..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
384,8.0,Breathless,UNRATED,Crime,90,"[u'Jean-Paul Belmondo', u'Jean Seberg', u'Dani..."
127,8.3,Wild Strawberries,UNRATED,Drama,91,"[u'Victor Sj\xf6str\xf6m', u'Bibi Andersson', ..."
412,7.9,Key Largo,UNRATED,Crime,100,"[u'Humphrey Bogart', u'Edward G. Robinson', u'..."
652,7.7,This Is England,UNRATED,Crime,101,"[u'Thomas Turgoose', u'Stephen Graham', u'Jo H..."
291,8.1,The Return,UNRATED,Drama,105,"[u'Vladimir Garin', u'Ivan Dobronravov', u'Kon..."
523,7.8,Repulsion,UNRATED,Drama,105,"[u'Catherine Deneuve', u'Ian Hendry', u'John F..."
123,8.3,The General,UNRATED,Action,107,"[u'Buster Keaton', u'Marion Mack', u'Glen Cave..."
757,7.6,Funny Games,UNRATED,Crime,108,"[u'Susanne Lothar', u'Ulrich M\xfche', u'Arno ..."
96,8.4,Yojimbo,UNRATED,Action,110,"[u'Toshir\xf4 Mifune', u'Eijir\xf4 T\xf4no', u..."
823,7.5,Straw Dogs,UNRATED,Crime,113,"[u'Dustin Hoffman', u'Susan George', u'Peter V..."
239,8.1,Elite Squad: The Enemy Within,UNRATED,Action,115,"[u'Wagner Moura', u'Irandhir Santos', u'Andr\x..."
802,7.6,Tell No One,UNRATED,Crime,131,"[u'Fran\xe7ois Cluzet', u'Marie-Jos\xe9e Croze..."
217,8.1,Memories of Murder,UNRATED,Crime,132,"[u'Kang-ho Song', u'Sang-kyung Kim', u'Roe-ha ..."
262,8.1,The Hustler,UNRATED,Drama,134,"[u'Paul Newman', u'Jackie Gleason', u'Piper La..."
289,8.1,All Quiet on the Western Front,UNRATED,Drama,136,"[u'Lew Ayres', u'Louis Wolheim', u'John Wray']"
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
730,7.6,West Side Story,UNRATED,Crime,152,"[u'Natalie Wood', u'George Chakiris', u'Richar..."
257,8.1,Anatomy of a Murder,UNRATED,Crime,160,"[u'James Stewart', u'Lee Remick', u'Ben Gazzara']"
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
387,8.0,Midnight Cowboy,X,Drama,113,"[u'Dustin Hoffman', u'Jon Voight', u'Sylvia Mi..."
86,8.4,A Clockwork Orange,X,Crime,136,"[u'Malcolm McDowell', u'Patrick Magee', u'Mich..."
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."

In [26]:
#fast method of OR filtering
movies[movies.genre.isin(['Action', 'Drama','Crime'])]

,star_rating,title,content_rating,genre,duration,actors_list
272,8.1,The Killing,APPROVED,Crime,85,"[u'Sterling Hayden', u'Coleen Gray', u'Vince E..."
58,8.5,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe M..."
233,8.1,The Night of the Hunter,APPROVED,Crime,92,"[u'Robert Mitchum', u'Shelley Winters', u'Lill..."
229,8.1,Strangers on a Train,APPROVED,Crime,101,"[u'Farley Granger', u'Robert Walker', u'Ruth R..."
237,8.1,Notorious,APPROVED,Drama,101,"[u'Cary Grant', u'Ingrid Bergman', u'Claude Ra..."
521,7.8,Belle de Jour,APPROVED,Drama,101,"[u'Catherine Deneuve', u'Jean Sorel', u'Michel..."
575,7.8,Kramer vs. Kramer,APPROVED,Drama,105,"[u'Dustin Hoffman', u'Meryl Streep', u'Jane Al..."
230,8.1,Cat on a Hot Tin Roof,APPROVED,Drama,108,"[u'Elizabeth Taylor', u'Paul Newman', u'Burl I..."
329,8.0,In the Heat of the Night,APPROVED,Crime,109,"[u'Sidney Poitier', u'Rod Steiger', u'Warren O..."
563,7.8,Goldfinger,APPROVED,Action,110,"[u'Sean Connery', u'Gert Fr\xf6be', u'Honor Bl..."
253,8.1,The Big Sleep,APPROVED,Crime,114,"[u'Humphrey Bogart', u'Lauren Bacall', u'John ..."
896,7.5,From Russia with Love,APPROVED,Action,115,"[u'Sean Connery', u'Robert Shaw', u'Lotte Lenya']"
65,8.4,Witness for the Prosecution,APPROVED,Crime,116,"[u'Tyrone Power', u'Marlene Dietrich', u'Charl..."
618,7.7,Shane,APPROVED,Drama,118,"[u'Alan Ladd', u'Jean Arthur', u'Van Heflin']"
74,8.4,Citizen Kane,APPROVED,Drama,119,"[u'Orson Welles', u'Joseph Cotten', u'Dorothy ..."
251,8.1,The Man Who Shot Liberty Valance,APPROVED,Drama,123,"[u'James Stewart', u'John Wayne', u'Vera Miles']"
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
207,8.1,What Ever Happened to Baby Jane?,APPROVED,Drama,134,"[u'Bette Davis', u'Joan Crawford', u'Victor Bu..."
95,8.4,All About Eve,APPROVED,Drama,138,"[u'Bette Davis', u'Anne Baxter', u'George Sand..."
444,7.9,My Fair Lady,APPROVED,Drama,170,"[u'Audrey Hepburn', u'Rex Harrison', u'Stanley..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."
168,8.2,Hachi: A Dog's Tale,G,Drama,93,"[u'Richard Gere', u'Joan Allen', u'Cary-Hiroyu..."
534,7.8,The Longest Day,G,Action,178,"[u'John Wayne', u'Robert Ryan', u'Richard Burt..."
361,8.0,Fiddler on the Roof,G,Drama,181,"[u'Topol', u'Norma Crane', u'Leonard Frey']"
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
691,7.7,Kelly's Heroes,GP,Action,144,"[u'Clint Eastwood', u'Telly Savalas', u'Don Ri..."
604,7.7,Mysterious Skin,NC-17,Drama,105,"[u'Brady Corbet', u'Joseph Gordon-Levitt', u'E..."
915,7.5,Bad Education,NC-17,Crime,106,"[u'Gael Garc\xeda Bernal', u'Fele Mart\xednez'..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
755,7.6,"Lust, Caution",NC-17,Drama,157,"[u'Tony Chiu Wai Leung', u'Wei Tang', u'Joan C..."
...,...,...,...,...,...,...
671,7.7,Grindhouse,R,Action,191,"[u'Kurt Russell', u'Rose McGowan', u'Danny Tre..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
219,8.1,Who's Afraid of Virginia Woolf?,TV-MA,Drama,131,"[u'Elizabeth Taylor', u'Richard Burton', u'Geo..."
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
98,8.4,Rashomon,UNRATED,Crime,88,"[u'Toshir\xf4 Mifune', u'Machiko Ky\xf4', u'Ma..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
384,8.0,Breathless,UNRATED,Crime,90,"[u'Jean-Paul Belmondo', u'Jean Seberg', u'Dani..."
127,8.3,Wild Strawberries,UNRATED,Drama,91,"[u'Victor Sj\xf6str\xf6m', u'Bibi Andersson', ..."
412,7.9,Key Largo,UNRATED,Crime,100,"[u'Humphrey Bogart', u'Edward G. Robinson', u'..."
652,7.7,This Is England,UNRATED,Crime,101,"[u'Thomas Turgoose', u'Stephen Graham', u'Jo H..."
291,8.1,The Return,UNRATED,Drama,105,"[u'Vladimir Garin', u'Ivan Dobronravov', u'Kon..."
523,7.8,Repulsion,UNRATED,Drama,105,"[u'Catherine Deneuve', u'Ian Hendry', u'John F..."
123,8.3,The General,UNRATED,Action,107,"[u'Buster Keaton', u'Marion Mack', u'Glen Cave..."
757,7.6,Funny Games,UNRATED,Crime,108,"[u'Susanne Lothar', u'Ulrich M\xfche', u'Arno ..."
96,8.4,Yojimbo,UNRATED,Action,110,"[u'Toshir\xf4 Mifune', u'Eijir\xf4 T\xf4no', u..."
823,7.5,Straw Dogs,UNRATED,Crime,113,"[u'Dustin Hoffman', u'Susan George', u'Peter V..."
239,8.1,Elite Squad: The Enemy Within,UNRATED,Action,115,"[u'Wagner Moura', u'Irandhir Santos', u'Andr\x..."
802,7.6,Tell No One,UNRATED,Crime,131,"[u'Fran\xe7ois Cluzet', u'Marie-Jos\xe9e Croze..."
217,8.1,Memories of Murder,UNRATED,Crime,132,"[u'Kang-ho Song', u'Sang-kyung Kim', u'Roe-ha ..."
262,8.1,The Hustler,UNRATED,Drama,134,"[u'Paul Newman', u'Jackie Gleason', u'Piper La..."
289,8.1,All Quiet on the Western Front,UNRATED,Drama,136,"[u'Lew Ayres', u'Louis Wolheim', u'John Wray']"
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
730,7.6,West Side Story,UNRATED,Crime,152,"[u'Natalie Wood', u'George Chakiris', u'Richar..."
257,8.1,Anatomy of a Murder,UNRATED,Crime,160,"[u'James Stewart', u'Lee Remick', u'Ben Gazzara']"
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
387,8.0,Midnight Cowboy,X,Drama,113,"[u'Dustin Hoffman', u'Jon Voight', u'Sylvia Mi..."
86,8.4,A Clockwork Orange,X,Crime,136,"[u'Malcolm McDowell', u'Patrick Magee', u'Mich..."
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."